<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NovelTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NovelTool.Properties.Settings>
            <setting name="ColorBoxFormBorderLeft" serializeAs="String">
                <value>DarkSlateBlue</value>
            </setting>
            <setting name="ColorBoxFormBorderTop" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="ColorBoxFormBorderRight" serializeAs="String">
                <value>Firebrick</value>
            </setting>
            <setting name="ColorBoxFormBorderBottom" serializeAs="String">
                <value>DarkSlateGray</value>
            </setting>
            <setting name="ColorBoxBackPanel" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxForePanel" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxBackMenuStrip" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxForeMenuStrip" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxBackToolStripMenuItem" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxForeToolStripMenuItem" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxBackToolStripPanel" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxForeToolStripPanel" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxBackToolStrip" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxForeToolStrip" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxBackListView" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxForeListView" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxBackPictureBox" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxForePictureBox" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxBackTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxForeTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxBackButton" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxForeButton" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxBackSplitContainer" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxForeSplitContainer" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxBackProgressBar" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxForeProgressBar" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxBackOther" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBoxForeOther" serializeAs="String">
                <value />
            </setting>
            <setting name="IntUDFormBorderWidth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CheckBoxFormBorderLeft" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckBoxFormBorderTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckBoxFormBorderRight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckBoxFormBorderBottom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IntUDIllustrationMinColorsLevel" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="IntUDIllustrationMinNonWhiteLevel" serializeAs="String">
                <value>800000</value>
            </setting>
            <setting name="IntUDAnalysisTaskThreadLimit" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FloatUDHeadMinRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="FloatUDFooterMinRate" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="IntUDIgnoreMinDetectYSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IntUDConfirmHeadGap" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IntUDConfirmFooterGap" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ColorBoxRectHead" serializeAs="String">
                <value>DarkMagenta</value>
            </setting>
            <setting name="ColorBoxRectBody" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="ColorBoxRectFooter" serializeAs="String">
                <value>LightSkyBlue</value>
            </setting>
            <setting name="IntUDRectViewWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IntUDIllustrationMinWidth" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="IntUDIllustrationMinHeight" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="IntUDIllustrationRate" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ColorBoxRectColumn" serializeAs="String">
                <value>LightSkyBlue</value>
            </setting>
            <setting name="ColorBoxRectEntityBody" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="FloatUDEntityMinRate" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="FloatUDEntityMaxRate" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="ColorBoxRectColumnRuby" serializeAs="String">
                <value>MediumSpringGreen</value>
            </setting>
            <setting name="ColorBoxRectRuby" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="ColorBoxRectMergeTB" serializeAs="String">
                <value>MediumOrchid</value>
            </setting>
            <setting name="ColorBoxRectMergeLR" serializeAs="String">
                <value>Tomato</value>
            </setting>
            <setting name="ColorBoxRectSplitTop" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="ColorBoxRectSplitMiddle" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="ColorBoxRectSplitBottom" serializeAs="String">
                <value>LightCoral</value>
            </setting>
            <setting name="ByteUDConfirmWhiteLevel" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="IntUDOutputWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="IntUDOutputHeight" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="IntUDMarginLeft" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IntUDMarginRight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IntUDMarginTop" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IntUDMarginBottom" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IntUDLeading" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FloatUDEntityAdjacentRate" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="PositionTypeBoxHead" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="PositionTypeBoxFooter" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ColorBoxOutputBack" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ImageTypeBoxOutput" serializeAs="String">
                <value>Jpeg</value>
            </setting>
            <setting name="LongUDOutputQuality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="PixelFormatBoxOutput" serializeAs="String">
                <value>DontCare</value>
            </setting>
            <setting name="IntUDConfirmEntityEndGap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PositionTypeBoxPage" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="IntUDConfirmEntityHeadGap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FloatUDForeColorRate" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="FloatUDEntityMergeTBMaxRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IntUDIgnoreMinDetectXSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ColorBoxOutputFore" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CheckBoxOutputAdjustColor" serializeAs="String">
                <value>False</value>
            </setting>
        </NovelTool.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
